body {
  background: url("../img/noche.jpg");
  background-attachment: fixed;
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
}

#logo {
  background-color: #4102d4ea;
}

#menu {
  background: #40c4d8ea;
}

#menu ul li a:hover {
  background-color: #4102d4ea;
}