body {
  background: url("../img/otonio.jpg");
  background-attachment: fixed;
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
}

#logo {
  background-color: #dd8119ea;
}

#menu {
  background: #e9d522ea;
}

#menu ul li a:hover {
  background-color: #dd8119ea;
}